include mavisetc/data/mavis/PSF_5mas_370nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_380nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_390nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_400nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_450nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_500nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_550nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_700nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_950nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_380nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_390nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_400nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_450nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_500nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_550nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_700nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_950nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_370nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_380nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_390nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_400nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_450nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_500nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_550nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_700nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_950nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_370nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_380nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_390nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_400nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_450nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_500nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_550nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_700nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_950nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_370nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_380nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_390nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_400nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_450nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_500nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_550nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_700nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_950nm_EEProfile.dat
include mavisetc/data/mavis/MAVIS_throughput_SpecOnly.csv
include mavisetc/data/mavis/mavis_AOM_throughput.csv
include mavisetc/data/ref_sky_dark.fits
include mavisetc/data/ref_sky_grey.fits
include mavisetc/data/ref_sky_bright.fits
include mavisetc/data/E2V290_QE.csv
include mavisetc/data/E2V250_QE.csv
include mavisetc/data/STA1600_QE.csv
include mavisetc/data/COSMOS_QE.csv
include mavisetc/data/UT4_M1_reflect.csv
include mavisetc/data/UT4_M2_reflect.csv
include mavisetc/data/UT4_M3_reflect.csv
include mavisetc/data/kc_templates/elliptical_template.fits
include mavisetc/data/kc_templates/s0_template.fits
include mavisetc/data/kc_templates/sa_template.fits
include mavisetc/data/kc_templates/sb_template.fits
include mavisetc/data/kc_templates/sc_template.fits
include mavisetc/data/kc_templates/starb1_template.fits
include mavisetc/data/kc_templates/starb2_template.fits
include mavisetc/data/kc_templates/starb3_template.fits
include mavisetc/data/kc_templates/starb4_template.fits
include mavisetc/data/kc_templates/starb5_template.fits
include mavisetc/data/kc_templates/starb6_template.fits
