include mavisetc/data/mavis/PSF_5mas_370nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_380nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_390nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_400nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_450nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_500nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_550nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_700nm_EEProfile.dat
include mavisetc/data/mavis/PSF_5mas_950nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_380nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_390nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_400nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_450nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_500nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_550nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_700nm_EEProfile.dat
include mavisetc/data/mavis/PSF_10mas_950nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_370nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_380nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_390nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_400nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_450nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_500nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_550nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_700nm_EEProfile.dat
include mavisetc/data/mavis/PSF_20mas_950nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_370nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_380nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_390nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_400nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_450nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_500nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_550nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_700nm_EEProfile.dat
include mavisetc/data/mavis/PSF_30mas_950nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_370nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_380nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_390nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_400nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_450nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_500nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_550nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_700nm_EEProfile.dat
include mavisetc/data/mavis/PSF_40mas_950nm_EEProfile.dat
include mavisetc/data/mavis/MAVIS_throughput_spec_2022-02-02.csv
include mavisetc/data/mavis/MAVIS_throughput_spec_2024-05-14.csv
include mavisetc/data/mavis/mavis_AOM_throughput.csv
include mavisetc/data/mavis/notch_throughput.csv
include mavisetc/data/ref_sky_dark.fits
include mavisetc/data/ref_sky_grey.fits
include mavisetc/data/ref_sky_bright.fits
include mavisetc/data/E2V290_QE.csv
include mavisetc/data/E2V290_QE_min.csv
include mavisetc/data/E2V250_QE.csv
include mavisetc/data/STA1600_QE.csv
include mavisetc/data/COSMOS_QE.csv
include mavisetc/data/UT4_M1_reflect.csv
include mavisetc/data/UT4_M2_reflect.csv
include mavisetc/data/UT4_M3_reflect.csv
include mavisetc/data/etalon/EQ99X_flux_100um_fibre.csv
include mavisetc/data/etalon/SLS_Reflectivity_Etatlon_80um.csv
include mavisetc/data/kc_templates/elliptical_template.fits
include mavisetc/data/kc_templates/s0_template.fits
include mavisetc/data/kc_templates/sa_template.fits
include mavisetc/data/kc_templates/sb_template.fits
include mavisetc/data/kc_templates/sc_template.fits
include mavisetc/data/kc_templates/starb1_template.fits
include mavisetc/data/kc_templates/starb2_template.fits
include mavisetc/data/kc_templates/starb3_template.fits
include mavisetc/data/kc_templates/starb4_template.fits
include mavisetc/data/kc_templates/starb5_template.fits
include mavisetc/data/kc_templates/starb6_template.fits
include mavisetc/data/lasd_templates/GALEX0330m2816.ascii
include mavisetc/data/lasd_templates/GALEX0331m2814.ascii
include mavisetc/data/lasd_templates/GALEX0332m2801.ascii
include mavisetc/data/lasd_templates/GALEX0332m2811.ascii
include mavisetc/data/lasd_templates/GALEX0333m2821.ascii
include mavisetc/data/lasd_templates/GALEX1000p0157.ascii
include mavisetc/data/lasd_templates/GALEX1001p0233.ascii
include mavisetc/data/lasd_templates/GALEX1417p5228.ascii
include mavisetc/data/lasd_templates/GALEX1417p5305.ascii
include mavisetc/data/lasd_templates/GALEX1418p5217.ascii
include mavisetc/data/lasd_templates/GALEX1418p5218.ascii
include mavisetc/data/lasd_templates/GALEX1418p5307.ascii
include mavisetc/data/lasd_templates/GALEX1419p5315.ascii
include mavisetc/data/lasd_templates/GALEX1420p5243.ascii
include mavisetc/data/lasd_templates/GALEX1423p5246.ascii
include mavisetc/data/lasd_templates/GALEX1434p3532.ascii
include mavisetc/data/lasd_templates/GALEX1436p3456.ascii
include mavisetc/data/lasd_templates/GALEX1437p3445.ascii
include mavisetc/data/lasd_templates/GALEX1717p5944.ascii
include mavisetc/data/lasd_templates/GP0303m0759.ascii
include mavisetc/data/lasd_templates/GP0749p3337.ascii
include mavisetc/data/lasd_templates/GP0751p1638.ascii
include mavisetc/data/lasd_templates/GP0822p2241.ascii
include mavisetc/data/lasd_templates/GP0911p1831.ascii
include mavisetc/data/lasd_templates/GP0917p3152.ascii
include mavisetc/data/lasd_templates/GP0927p1740.ascii
include mavisetc/data/lasd_templates/GP1009p2916.ascii
include mavisetc/data/lasd_templates/GP1018p4106.ascii
include mavisetc/data/lasd_templates/GP1032p2717.ascii
include mavisetc/data/lasd_templates/GP1054p5238.ascii
include mavisetc/data/lasd_templates/GP1122p6154.ascii
include mavisetc/data/lasd_templates/GP1133p6514.ascii
include mavisetc/data/lasd_templates/GP1137p3524.ascii
include mavisetc/data/lasd_templates/GP1205p2620.ascii
include mavisetc/data/lasd_templates/GP1219p1526.ascii
include mavisetc/data/lasd_templates/GP1244p0216.ascii
include mavisetc/data/lasd_templates/GP1249p1234.ascii
include mavisetc/data/lasd_templates/GP1339p1516.ascii
include mavisetc/data/lasd_templates/GP1424p4217.ascii
include mavisetc/data/lasd_templates/GP1440p4619.ascii
include mavisetc/data/lasd_templates/GP1454p4528.ascii
include mavisetc/data/lasd_templates/GP1514p3852.ascii
include mavisetc/data/lasd_templates/GP1543p3446.ascii
include mavisetc/data/lasd_templates/GP1559p0841.ascii
include mavisetc/data/lasd_templates/GP2237p1336.ascii
include mavisetc/data/lasd_templates/HARO11.ascii
include mavisetc/data/lasd_templates/J0007p0226.ascii
include mavisetc/data/lasd_templates/J0021p0052.ascii
include mavisetc/data/lasd_templates/J0055m0021.ascii
include mavisetc/data/lasd_templates/J010534p234960.ascii
include mavisetc/data/lasd_templates/J0150p1308.ascii
include mavisetc/data/lasd_templates/J015208m043117.ascii
include mavisetc/data/lasd_templates/J0159p0751.ascii
include mavisetc/data/lasd_templates/J020819m040136.ascii
include mavisetc/data/lasd_templates/J0213p1259.ascii
include mavisetc/data/lasd_templates/J0232m0426.ascii
include mavisetc/data/lasd_templates/J0808p3948.ascii
include mavisetc/data/lasd_templates/J0815p2156.ascii
include mavisetc/data/lasd_templates/J0820p5431.ascii
include mavisetc/data/lasd_templates/J0901p2119.ascii
include mavisetc/data/lasd_templates/J0919p4906.ascii
include mavisetc/data/lasd_templates/J0921p4509.ascii
include mavisetc/data/lasd_templates/J0925p1403.ascii
include mavisetc/data/lasd_templates/J0926p4427.ascii
include mavisetc/data/lasd_templates/J0938p5428.ascii
include mavisetc/data/lasd_templates/J1011p1947.ascii
include mavisetc/data/lasd_templates/J1025p3622.ascii
include mavisetc/data/lasd_templates/J1032p4919.ascii
include mavisetc/data/lasd_templates/J1046p5827.ascii
include mavisetc/data/lasd_templates/J110359p483456.ascii
include mavisetc/data/lasd_templates/J110506p594741.ascii
include mavisetc/data/lasd_templates/J1112p5503.ascii
include mavisetc/data/lasd_templates/J1113p2930.ascii
include mavisetc/data/lasd_templates/J1121p3806.ascii
include mavisetc/data/lasd_templates/J1127p4610.ascii
include mavisetc/data/lasd_templates/J1144p4012.ascii
include mavisetc/data/lasd_templates/J1152p3400.ascii
include mavisetc/data/lasd_templates/J1154p2443.ascii
include mavisetc/data/lasd_templates/J1205p4551.ascii
include mavisetc/data/lasd_templates/J121948p481411.ascii
include mavisetc/data/lasd_templates/J1233p4959.ascii
include mavisetc/data/lasd_templates/J1242p4851.ascii
include mavisetc/data/lasd_templates/J1243p4646.ascii
include mavisetc/data/lasd_templates/J124619p444902.ascii
include mavisetc/data/lasd_templates/J1248p4259.ascii
include mavisetc/data/lasd_templates/J1256p4509.ascii
include mavisetc/data/lasd_templates/J1333p6246.ascii
include mavisetc/data/lasd_templates/J1349p5631.ascii
include mavisetc/data/lasd_templates/J1355p1457.ascii
include mavisetc/data/lasd_templates/J1355p4651.ascii
include mavisetc/data/lasd_templates/J1414p0540.ascii
include mavisetc/data/lasd_templates/J1416p1223.ascii
include mavisetc/data/lasd_templates/J142535p524902.ascii
include mavisetc/data/lasd_templates/J1428p1653.ascii
include mavisetc/data/lasd_templates/J1429p0643.ascii
include mavisetc/data/lasd_templates/J1442m0209.ascii
include mavisetc/data/lasd_templates/J1455p6107.ascii
include mavisetc/data/lasd_templates/J1457p2232.ascii
include mavisetc/data/lasd_templates/J1503p3644.ascii
include mavisetc/data/lasd_templates/J1521p0759.ascii
include mavisetc/data/lasd_templates/J1525p0757.ascii
include mavisetc/data/lasd_templates/J1612p0817.ascii
include mavisetc/data/lasd_templates/J2103m0728.ascii
include mavisetc/data/lasd_templates/KISSR1084.ascii
include mavisetc/data/lasd_templates/KISSR1567.ascii
include mavisetc/data/lasd_templates/KISSR1578.ascii
include mavisetc/data/lasd_templates/KISSR242.ascii
include mavisetc/data/lasd_templates/Tol.ascii
include mavisetc/data/lasd_templates/lasd_measurements.cat
include mavisetc/data/lamp_templates/GS_ThAr_1dspec.csv
include mavisetc/data/lamp_templates/Newport_Ar_1dspec.csv
include mavisetc/data/lamp_templates/Newport_HgAr_1dspec.csv
include mavisetc/data/lamp_templates/Newport_Kr_1dspec.csv
include mavisetc/data/lamp_templates/Newport_Ne_1dspec.csv
include mavisetc/data/lamp_templates/Photron_ThAr_1dspec.csv
include mavisetc/data/lamp_templates/Etalon_EQ99_HRBlue.csv
include mavisetc/data/lamp_templates/Etalon_EQ99_LRBlue.csv
include mavisetc/data/lamp_templates/Etalon_EQ99_HRRed.csv
include mavisetc/data/lamp_templates/Etalon_EQ99_LRRed.csv
include mavisetc/data/lamp_templates/composite_Ne_1dspec.csv
include mavisetc/data/lamp_templates/MUSE_HgCd_1dspec.csv
include mavisetc/data/lamp_templates/MUSE_Xe_1dspec.csv
include mavisetc/data/stellar_templates/MAVIS_stellar_library.fits
include mavisetc/data/filters/cousins_i.dat
include mavisetc/data/filters/cousins_r.dat
include mavisetc/data/filters/johnson_b.dat
include mavisetc/data/filters/johnson_u.dat
include mavisetc/data/filters/johnson_v.dat
include mavisetc/data/filters/sdss_g.dat
include mavisetc/data/filters/sdss_i.dat
include mavisetc/data/filters/sdss_r.dat
include mavisetc/data/filters/sdss_u.dat
include mavisetc/data/filters/sdss_z.dat
include mavisetc/data/filters/mavis_u.dat
include mavisetc/data/filters/mavis_g.dat
include mavisetc/data/filters/mavis_r.dat
include mavisetc/data/filters/lsst_g.dat
include mavisetc/data/filters/lsst_i.dat
include mavisetc/data/filters/lsst_r.dat
include mavisetc/data/filters/lsst_u.dat
include mavisetc/data/filters/lsst_z.dat
include mavisetc/data/filters/prime_g.dat
include mavisetc/data/filters/prime_i.dat
include mavisetc/data/filters/prime_r.dat
include mavisetc/data/filters/prime_u.dat
include mavisetc/data/filters/prime_z.dat
include mavisetc/data/filters/asahi_g.dat
include mavisetc/data/filters/asahi_i.dat
include mavisetc/data/filters/asahi_r.dat
include mavisetc/data/filters/asahi_u.dat
include mavisetc/data/filters/asahi_z.dat
include mavisetc/data/filters/stromgren_b.dat
include mavisetc/data/filters/stromgren_u.dat
include mavisetc/data/filters/stromgren_v.dat
include mavisetc/data/filters/stromgren_y.dat
include mavisetc/data/filters/suprimecam_ia427.dat
include mavisetc/data/filters/suprimecam_ia445.dat
include mavisetc/data/filters/suprimecam_ia464.dat
include mavisetc/data/filters/suprimecam_ia484.dat
include mavisetc/data/filters/suprimecam_ia505.dat
include mavisetc/data/filters/suprimecam_ia527.dat
include mavisetc/data/filters/suprimecam_ia550.dat
include mavisetc/data/filters/suprimecam_ia574.dat
include mavisetc/data/filters/suprimecam_ia598.dat
include mavisetc/data/filters/suprimecam_ia624.dat
include mavisetc/data/filters/suprimecam_ia651.dat
include mavisetc/data/filters/suprimecam_ia679.dat
include mavisetc/data/filters/suprimecam_ia709.dat
include mavisetc/data/filters/suprimecam_ia738.dat
include mavisetc/data/filters/suprimecam_ia767.dat
include mavisetc/data/filters/suprimecam_ia797.dat
include mavisetc/data/filters/suprimecam_ia827.dat
include mavisetc/data/filters/suprimecam_ia856.dat
include mavisetc/data/filters/suprimecam_ia907.dat
include mavisetc/data/filters/hst_f550m.dat
include mavisetc/data/filters/hst_f547m.dat
include mavisetc/data/filters/jwst_f070w.dat
include mavisetc/data/filters/hst_acs_f435w.dat
include mavisetc/data/filters/hst_acs_f475w.dat
include mavisetc/data/filters/jwst_f090w.dat
